body {
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #20232A;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
section{
  background-color: #fff;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.title{
  margin: 0;
  font-size: 40px;
}
.date{
  margin: 2px 15px 0 0;
}
/*! ----------------------   NAVBAR - 1250px and up   ---------------------- */
/*? ----------------------   NAVBAR - 1250px and up   ---------------------- */
.navbar{
  justify-content: center;
  display: flex;
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 7rem;
  background-color: #20232A;
  color: #fff;
  border-bottom: #FDF200 1px solid;
}
a{
  text-decoration: none;
  color: #20232A;
}
ul{
  padding: 0;
  list-style: none;
}
.nav-logo{
  text-align: center;
  width: fit-content;
  margin: auto;
  font-size: 1.7rem;
  font-weight: 800;
}
.logo-first{
  color: #61DAFB;
}
.logo-last{
 color: #FF85EA;
}
.logo-first:hover, .logo-last:hover{
 color: #FDF200;
}
.site-links{
  display: flex;
  margin: 0 100px;
  width: 40%;
}
.site-links li{
  justify-content: center;
  width: 150px;
  margin: 7px;
  border-radius: 5px;
  text-align: center;
  font-weight: 550;
}
.site-links li a{
  font-size: 1.4rem;
  line-height: 6rem;
  padding: 10px;
  color: white;
}
.site-links li a.project-link:hover{
  color: #FF85EA;
}
.site-links li a.project-link.active{
  color: #FF85EA;
  border-bottom: 5px solid #FF85EA;
}
.site-links li a.docs-link:hover{
  color: #7B61F8;
}
.site-links li a.docs-link.active{
  color: #7B61F8;
  border-bottom: 5px solid #7B61F8;
}
.site-links li a.blogs-link:hover{
  color: #61DAFB;
}
.site-links li a.blogs-link.active{
  color: #61DAFB;
  border-bottom: 5px solid #61DAFB;
}
.site-links li a.about-link:hover{
  color: #FDF200;
}
.site-links li a.about-link.active{
  color: #FDF200;
  border-bottom: 5px solid #FDF200;
}
.social-links{
  display: flex;
  padding-top: 20px;
  width: 15%;
  margin: 0 auto;
}
.social-link{
  padding: 2px;
  margin: 5px;
  background-color: #00FECA;
  border: 2px #20232A solid;
  border-radius: 5px;
}
.social-link:hover{
  color:  #00feca;
  background-color: #20232A;
}
/*! ----------------------   FOOTER - 1250px and up   ---------------------- */
/*? ----------------------   FOOTER - 1250px and up   ---------------------- */
footer{
  display: block;
  z-index: 1;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  height: 100%;
  color: white;
}
.footer-content{
  display: flex;
}
.footer-content-left{
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;
  width: 50%;
  border-right: #FDF200 solid 1px;
}
.footer-content-right{
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;
  width: 50%;
  border-left: #FDF200 solid 1px;
}
.footer-section{
  margin: 40px 0;
  width: 30%;
}
.footer-section p{
  line-height: 4;
}
.footer-links{
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.footer-link{
  display: block;
  margin: 10px;
}
.footer-link a{
  width: 100%;
  font-size: 1.2rem;
  color: white;
}
footer p{
  margin: 0;
  color: white;
}
.footer-logo{
  display: block;
  margin: 5px auto;
  width: fit-content;
  font-size: 1.7rem;
  font-weight: 800;
}
.tech-link{
  padding: 2px;
  margin: 5px;
  width: 1em !important;
  color: #20232A !important;
  background-color: #00FECA;
  list-style-type: none;
  border: 2px #20232A solid;
  border-radius: 5px;
}
.tech-link:hover{
  color:  #00feca !important;
  background-color: #20232A;
}
/*! ----------------------   BLOGS - 1250px and up   ---------------------- */
/*? ----------------------   BLOGS - 1250px and up   ---------------------- */
.blogs-div{
  width: 85%;
  padding: 20px;
  height: 100%;
}
.blog-card{
  width: 70%;
  height: 100vh;
  margin: 0 auto;
}
.blog-card p{
  font-size: 1.2rem;
  line-height: 1.7;
}
.title-div{
  display: block;
  width: 15%;
  background-color: #F7F7F7;
  padding: 20px 0 0 6%;
}
/*! ----------------------   PROJECTS - 1250px and up   ---------------------- */
/*? ----------------------   PROJECTS - 1250px and up   ---------------------- */
.projects-grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: 100%;
  justify-items: end;
}
.project-card{
  margin: 30px;
  width: 237px;
  border: 1px solid #ddd;
  display: block;
  padding: 15px;
  color: #20232A;
  border: 1px #ddd solid;
  border-radius: 5px;
}
.projects-thumbnail{
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.projects-title{
  margin: 15px 0 0 0;
}
.projects-card p{
  margin: 0 0 15px 0;
}
/*! ----------------------   APPS - 1250px and up   ---------------------- */
/*? ----------------------   APPS - 1250px and up   ---------------------- */
.project-details{
  width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid #ddd;
}
.project-demo{
  max-width: 500px;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 25px auto;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.table-header{
  margin-top: 50px;;
}
.table-of-contents{
  background: #ddd;
  border-radius: 5px;
  padding: 20px 40px;
  margin-bottom: 50px;
  width: fit-content;
}
.app-link{
  margin: 20px auto;
}
.app-section{
  border: 1px #ddd solid;
  line-height: 2;
  border-radius: 5px;
  margin: 25px auto;
  padding: 25px;
}
/*! ----------------------   AbeChoiApp   ---------------------- */
/*? ----------------------   AbeChoiApp   ---------------------- */
.AbeChoiApp{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 5rem;
  font-weight: 800;
}
/*! ----------------------   SwapiApp   ---------------------- */
/*? ----------------------   SwapiApp   ---------------------- */
.SwapiApp{
  margin: auto;
  background: #222;
  color: #ddd;
  text-align: center;
  padding: 10px;
}
.SwapiApp h1{
  color: #FDF200;
  font-size: 2rem;
  letter-spacing: 2px;
}
.SwapiApp button{
  margin: 0 10px;
  background: transparent;
  border: 3px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  color: #ccc;
  font-size: 1rem;
  cursor: pointer;
}
.SwapiApp button:hover{
  color: #fff;
  border-color: #fff;
}
.SwapiApp .card{
  padding: 8px 25px;
  background: #1b1b1b;
  margin: 16px 0;
  border-radius: 20px;
  text-align: left;
}
.SwapiApp .card p{
  margin: 6px 0;
  color: #999;
}
.SwapiApp .card h3{
  margin: 10px 0;
  color: #FDF200;
}
.SwapiApp button:disabled{
  opacity: 0.2;
  cursor: not-allowed;
}
/*! ----------------------   TodoApp   ---------------------- */
/*? ----------------------   TodoApp   ---------------------- */
.TodoApp{
  height: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
  background: #20232A;
  color: white;
}
.TodoApp form{
  display: flex;
  margin: 10px auto;
  width: fit-content;
}
.TodoApp .text{
  width: 80%;
  height: 55px;
  text-align: center;
  font-size: 26px;
  padding: 0 20px;
  outline: none;
  border: 3px solid #7B61F8;
  border-radius: 5px 0 0 5px;
  background: #ddd;
}
.TodoApp .button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  width: 20%;
  height: 61px;
  font-size: 45px;
  font-weight: 800;
  border: none;
  border-radius: 0 5px 5px 0;
  background: #7B61F8;
  color: #00FECA;
}
.TodoApp .todo{
  width: 395px;
  height: 50px;
  font-size: 34px;
  border-radius: 5px;
  margin: 0 auto;
  color: #00FECA;
  background: #7B61F8;
  font-weight: 600;
}
/*! ----------------------   DOCS - 1250px and up   ---------------------- */
/*? ----------------------   DOCS - 1250px and up   ---------------------- */
.docs-section{
  padding: 100px 0;
}
/*! ----------------------   ABOUT - 1250px and up   ---------------------- */
/*? ----------------------   ABOUT - 1250px and up   ---------------------- */
.about-section{
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
}
.bio-div{
  display: block;
  text-align: center;
  width: 30%;
  border-right: 1px #ddd solid;
}
.bio-pic{
  margin: 50px auto;
  border-radius: 50%;
  max-width: 60%;
  border: 1px solid #ddd;
}
.bio-info{
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.bio-info p{
  margin: 5px auto;
  width: 80%;
  color: #20232A;
}
.about-div{
  width: 70%;
  margin: 0 auto;
}
.about-card{
  width: 80%;
  border: #ddd solid 1px;
  border-radius: 5px;
  margin: 50px auto;
  padding: 30px;
}
.about-card p{
  font-size: 1.2rem;
  line-height: 1.7;
}
/*! ----------------------   WIDGETS - 1250px and up   ---------------------- */
/*? ----------------------   WIDGETS - 1250px and up   ---------------------- */
.github-sm{
  height: 16px;
  width: 80px;
  font-size: 10px;
  color: #24292e;
  background: #eff3f6;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  padding: 2px 4px;
  margin-top: 3px;
}
.github-sm-text{
  margin: 2px auto;
}
@media screen and (max-width: 1250px){
/*! ----------------------   BLOGS - 1250px and below   ---------------------- */
/*? ----------------------   BLOGS - 1250px and below   ---------------------- */
  .bio-pic {
    max-width: 75%;
  }
  .bio-info{
    width: 75%;
  }
  .bio-info p{
    width: 70%;
  }
}
@media screen and (max-width: 1024px){
/*! ----------------------   NAVBAR - 1024px and below   ---------------------- */
/*? ----------------------   NAVBAR - 1024px and below   ---------------------- */
  .navbar{
    display: inline-block;
    height: 100%;
    text-align: center;
  }
  .nav-logo{
    margin: 25px auto 0 auto;
  }
  .nav-logo a{
    display: flex;
  }
  .site-links{
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .site-links li{
    margin: 0 auto;
    font-weight: 300;
    display: inline-block;
  }
  .social-links{
    display: none;
  }
/*! ----------------------   ABOUT - 1024px and below   ---------------------- */
/*? ----------------------   ABOUT - 1024px and below   ---------------------- */
  .about-section{
    padding-bottom: 25px;
    display: block;    
  }
  .bio-div{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .bio-pic{
    max-width: 39%;
    border-radius: 5px 0 0 5px;
    margin: 50px 0 0 0;
  }
  .bio-info{
    margin: 50px 0 0 0;
    width: 39%;
    padding-top: 50px;
    border: 1px #ddd solid;
    border-radius: 0 5px 5px 0;
  }
  .bio-info p{
    font-size: 1.5rem;
    margin: 12px auto;
  }
  .about-div{
    width: 90%;
  }
/*! ----------------------   BLOGS - 1024px and below   ---------------------- */
/*? ----------------------   BLOGS - 1024px and below   ---------------------- */
  .blogs-div{
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .title-div{
    display: none;
  }
  .blog-card{
    height: 100%;
    width: 100%;
  }
/*! ----------------------   PROJECTS - 1024px and below   ---------------------- */
/*? ----------------------   PROJECTS - 1024px and below   ---------------------- */
  .projects-grid{
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 768px){
/*! ----------------------   FOOTER - 768px and below   ---------------------- */
/*? ----------------------   FOOTER - 768px and below   ---------------------- */
  .footer-content{
    display: block;
  }
  .footer-content-left{
    width: 100%;
    margin: 0 auto;
    border-right: 0px;
    border-bottom: #FDF200 solid 1px;
  }
  .footer-section{
    margin: 40px 50px;
    width: auto;
  }
  .footer-content-right{
    display: inline;
    border-left: 0px;
    border-top: #FDF200 solid 1px;
  }
/*! ----------------------   ABOUT - 768px and below   ---------------------- */
/*? ----------------------   ABOUT - 768px and below   ---------------------- */
  .table-of-contents{
    text-align: left;
  }
  .bio-info p{
    width: 75%;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 480px){
/*! ----------------------   NAVBAR - 480px and below   ---------------------- */
/*? ----------------------   NAVBAR - 480px and below   ---------------------- */
  .nav-logo{
    margin-top: 15px;
  }
  .site-links{
    display: flex;
    width: 85%;
  }
  .site-links li a {
    font-size: 1rem;
    line-height: 4rem;
    padding: 0;
  }
/*! ----------------------   FOOTER - 480px and below   ---------------------- */
/*? ----------------------   FOOTER - 480px and below   ---------------------- */
  .footer-section{
    margin: 40px auto;
  }
/*! ----------------------   ABOUT - 480px and below   ---------------------- */
/*? ----------------------   ABOUT - 480px and below   ---------------------- */
  .bio-div{
    display: block;
  }
  .bio-pic{
    max-width: 80%;
    border-radius: 5px;
    margin: 50px auto;
  }
  .bio-info{
    margin: 0 auto;
    padding: 25px 0;
    width: 87%;
  }
  .about-card{
    margin: 25px auto;
    font-size: 1.2rem;
    line-height: 1.7;
  }
/*! ----------------------   PROJECTS - 480px and below   ---------------------- */
/*? ----------------------   PROJECTS - 480px and below   ---------------------- */
  .projects-grid{
    grid-template-columns: auto;
  }
  .project-details{
    text-align: center;
  }
  .project-demo{
    max-width: 300px;
  }
  .project-div{
    justify-content: center;
  }
  .table-of-contents{
    padding: 20px 60px;
  }
  .app-section{
    margin: 0;
    padding: 15px;
  }
  .AbeChoiApp{
    font-size: 3.5rem;
    font-weight: 800;
  }
  .TodoApp .button{
    min-width: 10px;
    max-width: 10px;
  }
}